<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css">
    {{ if eq .BuildMode "development" }}
    <script src="/watcher.js" defer></script>
    {{ end }}
    <title>{{ .Title }}</title>
</head>
<body>
    <a href="/">... Go back to home</a>
    {{ .Body }}
</body>
</html>